* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1400px;
    font-family: "Inter", sans-serif;
    margin: auto;
}

#header {
    max-width: 1400px;
}

#navbar-section {
    height: 92px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 50px;
}

.nav-logo-container img {
    width: 139px;
    height: 60px;
}

.nav-ul {
    display: flex;
    gap: 20px;
}

.nav-ul li {
    display: flex;
    list-style: none;
}

.nav-ul li a {
    text-decoration: none;
    color: #000000;
}

.nav-ul li a:hover {
    color: #30B868;
}

.nav-button {
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
}

.nav-button a {
    text-decoration: none;
    color: #ffffff;
}

.nav-button:hover {
    background-color: #2caa61;
    cursor: pointer;
}

#banner-section {
    max-width: 1400px;
    height: 500px;
    text-align: center;
    background-image: url('../assets/images/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
}

.banner-text div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 20px;
}

.banner-text div img, .banner-button-1 img, .banner-button-2 img {
    width: 15px;
    height: 15px;
}

.banner-text div p {
   color:#469165;
}

.banner-title-container h1 {
    color: #ffffff;
    font-size: 72px;
    line-height: 84px;
    font-weight: 700;
}

.banner-title-container h1 span {
    color: #30B868;
}

.banner-title-container p {
    color: #ffffff;
    width: 600px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin: 10px 0;
}

.banner-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0 0 0;
}

.banner-button-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #469165;
    padding: 7px 14px;
    border-radius: 4px;
}

.banner-button-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #ffffff;
    padding: 6px 12px;
    border-radius: 4px;
}

.banner-button-2 a, .banner-button-1 a {
   text-decoration: none;
   color: #ffffff;
   font-size: 14px;
}

.banner-button-1:hover {
    background-color: #2caa61;
    cursor: pointer;
}

.banner-button-2:hover {
    cursor: pointer;
    border: 1px solid #469165;
}

#notes-section {
    max-width: 1400px;
    display: flex;
    justify-content: center;
}

.notes-text h2 {
    margin: 35px 0 10px 0;
    font-size: 40px;
    color: #001931;
}

.notes-text p {
    font-size: 16px;
    margin: 0 0 25px 0;
    color: #627382;
}

.notes-container {
    max-width: 1200px;
    text-align: center;
}

.notes-card-container {
    display: flex;
    gap: 10px;
}

.notes-card {
    max-width: 322px;
    max-height: 300px;
    background-color: #eee;
    padding: 25px;
}

.notes-card img {
    background-color: #F95555;
    padding: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.notes-card h3 {
    font-size: 20px;
    margin: 10px 0 10px 0;
    color: #001931;
}

.notes-card p {
    font-size: 14px;
    color: #627382;
}

#second-brain-section {
    max-width: 1400px;
    max-height: 500px;
    display: flex;
}

.second-brain-container {
    margin: 100px;
    max-width: 1200px;
    height: 400px;
    display: flex;
    gap: 25px;
}

.brain-image {
    width: 400px;
    height: 400px;
}

.brain-image img {
    width: 400px;
}

.brain-text-check {
    display: flex;
    gap: 10px;
    margin: 0 0 10px 0;
}

.brain-text-check img {
    width: 25px;
    height: 25px;
}

.brain-text-check h4 {
    color: #001931;
}

.brain-text h2 {
    margin: 10px 0;
}

.brain-text h5 {
    color: #30B868;
}

.brain-text p {
    margin: 0 0 10px 0;
}

.brain-text {
    width: 700px;
}

#early-access-section {
    max-width: 1400px;
    max-height: 500px;
    padding: 100px;
}

.early-access-container {
    text-align: center;
    background-color: #F7F6F2;
    padding: 50px;
}

.early-access-container p {
    margin: 15px 0;
    color: #627382;
}

.early-button-3 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #ffffff;
    padding: 6px 12px;
    border-radius: 4px;
    background-color: #2caa61;
    width: 250px;
}

.early-button-3 a {
   text-decoration: none;
   color: #ffffff;
   font-size: 14px;
}

.early-button-3:hover {
    background-color: #30B868;
    cursor: pointer;
}

#footer {
    max-width: 1400px;
    max-height: 300px;
    background-color: #001931;
    padding: 100px;
}

.footer-section {
    max-width: 1200px;
}

.footer-links h6 {
    color: #ffffff;
    margin: 0 0 5px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-social img {
    width: 15px;
    height: 15px;
}

.copyright-container {
    margin: 80px 0 0 0;
}

.copyright-container p {
    text-align: center;
    color: #ffffff;
    font-size: 13px;
    border-top: 1px solid #ffffff20;
    padding: 20px 0 0 0;
}