* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    font-family: "Inter", sans-serif;
    margin: auto;
}

#header {
    max-width: 1200px;
}

#navbar-section {
    height: 92px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 50px;
}

.nav-logo-container img {
    width: 139px;
    height: 60px;
}

.navbar-container .nav-menu-container ul {
    display: flex;
    gap: 20px;
}

.navbar-container .nav-menu-container ul li {
    display: flex;
    list-style: none;
}

.nav-button {
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
}

.nav-button a {
    text-decoration: none;
    color: #ffffff;
}

.nav-button:hover {
    background-color: #2caa61;
    cursor: pointer;
}